{% extends "base.html" %}


{% block content %}

<img src="https://media.licdn.com/dms/image/v2/D5603AQGA_s5FQTtJFg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1724511047715?e=2147483647&v=beta&t=p6B33a4RZuTTJD7MGaQeo05ic3p4T9bbxXk_nrfw_FM" width="300" height="300" style="float: left; margin: 30px;">
<p style="margin: 30px; font-size: 1.5em;"> 
    <span style="font-weight: bold; font-size:1.6em;"> Hi! namaku Lanang!</span> 
    <br>
    Aku mahasiswa semester 2 jurusan Ilmu Komputer Universitas Indonesia. Kalian bisa menghubungiku melalui:</p>
<ul style="font-size: 1.5em;">
    <li>Email: <a href="mailto:muh.lanangzalkifla@gmail.com" target="_blank">muh.lanangzalkifla@gmail.com</a></li>
    <li>Instagram: <a href="https://www.instagram.com/lanangz_/" target="_blank">@lanangz_</a></li>
    <li>Linkedin: <a href="https://www.linkedin.com/in/muhammad-lanang-zalkifla-harits-307a0b316/" target="_blank">muhammad-lanang-zalkifla-harits-307a0b31</a></li>
</ul>
{% endblock %}