{% extends "base.html" %}

{% block content %}

    <h2>Selamat Datang di Ristek Quiz App!</h2>
    <div class="container-md" style="border: 5px solid black; padding: 20px; margin: 40px; border-radius: 20px">
        <form method="get">
            {{ tryout_filter.form }}
            <button type="submit" type="button" class="btn btn-primary"> Cari Tryout </button>
        </form>
    </div>

    {% if tryout_list %}
        <h5> Hasil pencarian Tryout: </h5>
        <table class="table table-striped" id="quiz_list">
            <thead>
                <th scope="col" class="table-dark">No</th>
                <th scope="col" class="table-dark">Nama Tryout</th>
                <th scope="col" class="table-dark">Topik</th>
                <th scope="col" class="table-dark">Pembuat Soal</th>
            </thead>
            <tbody>
            {% for tryout in tryout_list %}
                <tr>       
                    <th scope="row"> {{ forloop.counter }} </th>
                    <td> <a href="{% url 'view_quiz' tryout.id %}" style="text-decoration:none; color:inherit;"> {{tryout.name}} </a> </td>
                    <td> <a href="{% url 'view_quiz' tryout.id %}" style="text-decoration:none; color:inherit;"> {{tryout.subject}} </a> </td>
                    <td> <a href="{% url 'view_quiz' tryout.id %}" style="text-decoration:none; color:inherit;"> {{tryout.quiz_author}} </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3> Tidak ada tryout yang tersedia. </h3>
    {% endif %}
    
        <div class="d-grid gap-2  mx-auto">
            <a href="{% url 'create_quiz' %}" type="button" class="btn btn-outline-success"> Buat Tryout Baru </a>
      </div>
    
    

{% endblock %}