{% extends "base.html" %}


{% block content %}

    <div class="container" >
        <!-- Tampilkan metadata dari tryout -->
        <div class="metadata_tryout">
            <h2 style="font-weight: bold;"> Metadata Tryout</h2>
            <p> Nama Tryout: {{ tryout_object.name }} </p>
            <p> Topik: {{ tryout_object.subject }} </p>
            <p> Skor Maksimum: {{ tryout_object.maximum_score }} </p>
            <p> Pembuat Soal: {{ tryout_object.quiz_author }} </p>
            <p> Tanggal Pembuatan: {{ tryout_object.date_created }} </p>
            <p> Jumlah Soal: {{ tryout_object.question_count }} </p>
            <!-- Tampilkan opsi edit metadata -->
            <a href="{% url 'update_quiz' tryout_object.id %}" type="button" class="btn btn-success"> Edit Metadata </a>
            <a href="{% url 'delete_quiz' tryout_object.id %}" type="button" class="btn btn-danger"> Hapus Tryout </a>
            <br>
        </div>

        <!-- Tampilkan pertanyaan-pertanyaan tryout-->
        <div class="questions">
            <h2 style="font-weight: bold;"> Soal </h2>
            {% if question_list %}
                    {% for question in question_list %}
                        <div style="min-height: 8vh"> 
                            {{ forloop.counter }}. {{ question.question_text }}
                            <span style="float: right">
                            <a href="{% url 'update_question' pk_tryout=tryout_object.id pk_question=question.id %}" type="button" class="btn btn-success"> Edit </a> 
                            <a href="{% url 'delete_question' pk_tryout=tryout_object.id pk_question=question.id %}" type="button"  class="btn btn-danger"> Hapus </a>
                            </span>
                        </div>    
                    {% endfor %}
            {% else %}
                <p> Belum ada soal yang dibuat. </p>
            {% endif %}
            <!-- Tampilkan tombol untuk menambah soal -->
            <div class="d-grid gap-2  mx-auto"style="margin-top: 20px">
                <a href="{% url 'add_question' pk_tryout=tryout_object.id %}" type="button" class="btn btn-outline-dark"> Tambah Soal </a>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 col-10 mx-auto" style="margin: 30px 20px;">
        <a href="{% url 'home'  %}" type="button" class="btn btn-dark"> Kembali ke Menu Utama </a>
    </div>


{% endblock %}